<main class="product-page">
  <section class="product-container">
    <div class="image-section">
      <button *ngIf="!cartOpen" class="back-btn" aria-label="Volver" (click)="backToHome()">
        <img src="assets/icons/icon_close.svg" alt="Cerrar" />
      </button>
      <img
        [src]="product?.image"
        [alt]="product?.name"
        class="product-img"
        (error)="onImageError($event)"
      />
    </div>

    <div class="info-section">
      <p class="price">$ {{ product?.price }}</p>
      <h1 class="title_product">{{ product?.name }}</h1>
      <p class="desc">{{ product?.description }}</p>

      <button class="add-cart-btn" (click)="addToCart(product)">
        <img
          [src]="isAdded ? 'assets/icons/bt_added_to_cart.svg' : 'assets/icons/bt_add_to_cart.svg'"
          alt="cart"
        />
        Add to cart
      </button>
    </div>
  </section>

  <!-- Sección de productos relacionados -->
  <section class="related-section" *ngIf="relatedProducts.length">
    <h2 class="recommend">También te puede gustar</h2>
    <div class="slider-wrapper">
      <button class="arrow left" (click)="scrollSlider('left')">&#10094;</button>

      <div class="related-slider" #slider>
        <div class="related-card" *ngFor="let p of relatedProducts" (click)="goToProduct(p.id)">
          <img [src]="p.image" [alt]="p.name" class="related-img" />
          <div class="related-info">
            <p class="related-name">{{ p.name }}</p>
            <p class="related-price">$ {{ p.price }}</p>
          </div>
        </div>
      </div>

      <button class="arrow right" (click)="scrollSlider('right')">&#10095;</button>
    </div>
  </section>
</main>
