 body{
            font-family: 'Quicksand', sans-serif;
            margin: 0;
        }

        .title {
  font-size: 18px;
  font-weight: 600;
  color: #523b2b;
  margin-bottom: 48px;
  text-align: center;
}
     
        .login{
            width: 100%;
            height: 100vh;
            display: grid;
            place-items: center; /*Esta propiedad hace que mi contenido se posicione al centro tanto vertical como horizontal. En cambio si ponemos flex solo se centrará de manera vertical*/
       align-content: space-evenly;
        }

        .form-container{
            display: grid;
            grid-template-rows: auto 1fr auto;
            width: 300px;
          
        }
        .logo{
            width: 150px;
            margin-bottom: 48px;
            justify-self: center;
    
        }
     
      
        .form{
            display: flex;
            flex-direction: column;
            
         
        }
            .form a{
  color: #3c2b21;          /* o tu color */
 text-decoration: none;
  font-size: var(--sm);
  text-align: center;
  margin-bottom: 52px;
}
  .form a:hover{
  color: #3c2b21;      
  text-decoration: underline;
   /* o tu color */
  /* sin text-decoration */
  font-size: var(--sm);
  text-align: center;
  margin-bottom: 52px;
}

        .form div{
           display: flex;
           flex-direction: column; 
        }
        .label{
            font-size: var(--sm);
            font-weight: 500;
            margin-bottom: 4px;
        }
        .input{
            background-color: var(--text-input-field);
            border: none;
            border-radius: 8px;
            height: 30px;
            font-size: var(--md);
            padding: 5px;
            margin-bottom: 15px;
        }
        .input-name,
        .input-email,
        .input-password{
margin-bottom: 22px;
        }

      .primary-button{
        background-color: var(--hospital-green);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        color: var(--white);
        height: 50px;
        width: 100%;
        align-self: center;
        font-size: var(--md);
        font-weight: bold;
      }
   
      .login-button{
        margin-top: 14px;
        margin-bottom: 30px;
      }
      @media (max-width: 640px) {
.logo{
    display: block;
}
.form-container{
    height: 100%;
   
}
.form{
    height: 100%;
 
}
      }