<!-- src/app/pages/home/home.html -->

<main class="container">
  <section class="aw-banner">
    <picture>
      <!-- 📱 Versión móvil -->
      <source srcset="assets/img/banner-andeswarmi.png" media="(max-width: 768px)" />
      <!-- 💻 Versión desktop -->
      <img src="assets/img/portada-origenes.png" alt="Banner AndesWarmi" class="banner-img" />
    </picture>

    <div class="banner-text">
      <h1>Descubre el origen de la calidez</h1>
      <p>Prendas elaboradas con fibras de alpaca y vicuña 100% peruanas.</p>
      <a href="#productos" class="banner-btn" role="button">Explorar colección</a>
    </div>
  </section>

  <!-- Topbar: Search + Order -->
  <div class="topbar">
    <div class="search-wrap">
      <img class="lupa" src="assets/icons/lupa.svg" alt="lupa" />
      <input
        type="search"
        placeholder="Search product"
        aria-label="Search product"
        [value]="searchTerm"
        (input)="onSearch($any($event.target).value)"
      />
    </div>

    <div class="order-wrap">
      <span class="muted">Order:</span>
      <select
        class="order-select"
        [value]="sortOption"
        (change)="onSortChange($any($event.target).value)"
      >
        <option value="recent">Más recientes</option>
        <option value="bestsellers">Más vendidos</option>
        <option value="price-asc">Menor precio</option>
        <option value="price-desc">Mayor precio / Exclusivos</option>
      </select>
    </div>
  </div>

  <!-- Resultados -->
  <div class="container" style="margin: 10px 16px; align-items: center; display: flex; gap: 12px">
    <div class="results-muted">{{ filteredProducts.length }} resultados</div>
  </div>
  <div id="productos"></div>
  <!-- Grid de productos -->
  <section class="cards-container">
    <div
      class="product-card"
      *ngFor="let product of filteredProducts"
      (click)="openProduct(product)"
    >
      <img [src]="product.image" [alt]="product.name" />
      <div class="product-info">
        <div class="meta">
          <p class="price">$ {{ product.price }}</p>
          <p class="name">{{ product.name }}</p>
        </div>
        <button class="cart-btn" (click)="addToCart(product, $event)">
          <img
            [src]="
              addedMap[product.id]
                ? 'assets/icons/bt_added_to_cart.svg'
                : 'assets/icons/bt_add_to_cart.svg'
            "
            alt="cart"
            class="icon-40"
          />
        </button>
      </div>
    </div>
  </section>

  <!-- 🖥️ Modal del producto (solo desktop) -->
  <app-product-modal
    *ngIf="showModal && selectedProduct"
    [product]="selectedProduct"
    (close)="closeModal()"
  ></app-product-modal>
</main>
